body {
    background: #59646e;
}

.divIndexOffset {
    width: 80%;
    margin-left: 10%;
}

.divLinkStyle {
    background: #f8f9fa;
    justify-content: center;
    height: 8em;
    text-align: left;    
    line-height: 4.8em;
    font-size: 18px;
    font-weight: 600;
    color: grey;
    margin-top: 6%;
    border-radius: 20px;
}
#imgPreview {
    float: left;
    height: 8em;
    width: 8em;
    margin-left: -1em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#pMargins {
    margin-left: 7.5em;
    margin-top: 25px;
    font-size: 20px;
    color: grey;
}

.contactBoxStyle {
    width: 70%;
    margin-left: 15%;
    margin-top: 6%;
    border: 1px solid black;
    border-radius: 1em;
    background: whitesmoke;
}

#contactJustify {
    justify-content: center;
}

.aboutStyle {
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    padding-bottom: 1em;
    font-size: 22px;
}

@media (max-width: 640px) {
    .divIndexOffset {
        width: 100%;
        margin-left: 0px;
    }
    .contactBoxStyle {
        width: 100%;
        margin-left: 0%;
        border: 1px solid black;
        border-radius: 1em;
        background: whitesmoke;
    }
    .aboutStyle {
        width: 100%;
        margin-left: 0%;
        padding-bottom: 2em;
    }
}
@media (max-width: 768px) {
    .divIndexOffset {
        width: 100%;
        margin-left: 0px;
    }
    .contactBoxStyle {
        width: 100%;
        margin-left: 0%;
        border: 1px solid black;
        border-radius: 1em;
        background: whitesmoke;
    }
    .aboutStyle {
        width: 100%;
        margin-left: 0%;
        padding-bottom: 2em;
    }
}
